<h1 class="text-center display-1 text-light">Eat Da Burger</h1>

<hr>



<div class="container">
  <div>
<img src="assets/imgs/burger.png" alt="Burger Image">
</div>
  <form action="">
    <div class="input-group">
        <label for=""></label>
        <input type="text" class="form-control" placeholder="Create a burger!">
      <div class="input-group-append">
        <button class="btn" type="submit">Create</button>
        </form>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col">
      <h2>Burgers</h2>
      <ul>
        {{#each burgers}}
        <li>
          <p>{{this.id}}. {{this.burger_name}}</p>
          <button data-id='{{this.id}}' class="btn">Devour</button>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="col">
      <h2>Devoured</h2>
      <ul>
        {{#each burgers}}
        <li>
          <p>{{this.id}}. {{this.burger_name}}</p>
        </li>
        {{/each}}
      </ul>
      <div class="row">
        <button class="btn">Clear</button>
      </div>
    </div>
  </div>
</div>